@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 32px ;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

.row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.purple_text{
    color:#6415FF;
}

.dark_text{
    color: #243E63
}

.btn{
    text-align: center;
    background-color: #6415FF;
    padding: 12px 32px;
    border: none;
    border-radius: 99999px;
    color: white;
    font-weight: 700;
    transition: all 300ms ease;
}

.btn:hover{
    background-color: rgba(60,13,153)
}

p{
    line-height: 1.5;
}

.text-align{
    text-align: center;
}

/*
NAVIGATION
*/

nav{
    display: flex;
    justify-content: space-between;
}

.nav_logo{
    display: flex;
    align-items: center;
    padding: 0 0 4px;
}

.nav_logo_txt{
    font-size: 24px;
    color: #243E63;
    font-weight: 900;
    transition: all 300ms ease;
}

.nav_logo_txt:hover{
    color: rgba(100,21,255);
}

.nav_logo-img{
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
}

.nav_list_link{
    display: flex;
    align-items: center;
}

.nav_link{
    font-size: 14px;
    font-weight: 600;
}

.nav_link-anchor{
    margin: 0 24px;
    padding: 0 0 4px;
    transition: all 300ms ease;
    line-height: 16px;
    color: #243E63;
}

.nav_link-anchor:hover{
    color: rgba(100,21,255);
}

.nav_link--anchor-secondary{
    margin: 0 24px 0 48px;
    color: #243E63;
}

.nav_link--anchor-primary {
    padding: 12px 32px;
    color: white;
    background-color: #6415FF;
    border-radius: 9999px ;
    transition: all 300ms ease;
}

.nav_link--anchor-primary:hover{
    background-color: rgba(80,17,204)
}

.nav_link--anchor-primary:visited{
    color: white;
}

/*
Burger Menu
*/

.btn_menu{
    background-color: transparent;
    border: none;
    text-align: center;
    color: #7342d6;
    font-size: 24px;
    display: none;
}

.btn_menu--close{
    position: absolute;
    right: 15px;
    top: 18px;
    font-size: 24px;
    padding: 8;
}

.menu_backdrop{
    position: fixed;
    background-color: white;
    top:10px;
    right: 8px;
    left:0;
    right: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateX(450%);
    margin: 5px;
    border: solid 2px gray;
    border-radius: 20px;   
    visibility: hidden;
    transition: all 300ms ease;
    overflow: hidden;
}

.menu--open{
    max-height: 100vh;
}

.menu--open .menu_backdrop{
    transform: translateX(0);
    visibility: visible;
}

.menu_list{
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding-top: 32px;
}

.menu_items{
    padding: 0 0 4px;
    margin: 0 0 20px;
}

.menu_item{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}

/*
Hero Section
*/

.hero_text-column{
    display: flex;
    flex-direction: row;
    padding: 96px 0;
}

.hero_text{
    width: 40%;
}

.hero_title{
    font-size: 48px ;
    font-weight: 700;
    color: #243E63;
}

.hero_subtitle{
    font-size: 18px;
    margin: 32px 0;
    color: #243E63;
    text-align: left;
}

.hero_trusted-customers{
    margin: 80px 0 0;
}

.customer_title{
    font-size: 12px;
    color: #A0AEC0;
    font-weight: 700;
}

.hero_trusted-customers-img{
    width: 100%;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
}


.hero_img{
    width: 100%;
    padding: 0 0 0 20px;
}

.hero_img-wrapper{
    width: 60%;
}

.hero_input-section{
    display: flex;
    margin-bottom: 48px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3); 
    padding: 4px;
    border-radius: 9999px;
    overflow: hidden;
}

.hero_input{
    border-radius: 9999px;
    border-color: transparent;
    flex: 1;
    font-family: inherit;
    font-weight: 700;
    padding-left: 12px;
    opacity: 0.5;
}

.get_started-button{
    color: white;
}

/*
Features
*/

.container{
    padding: 80px 0;
}

.feature_text{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.feature_title{
    color: #6415FF;
    font-weight: 500;
    margin: 0 0 16px;
}

.feature_description{
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.625;
}

.feature_description-sub-description{
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    max-width: 36rem;
    margin: 16px 0 0;
}

.service_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
}

.service_item{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    padding: 48px;
    justify-content: center;
}

.image_container{
    border: 1px solid #A0AEC0;
    border-radius: 99999px;
    padding: 13px 13px;
    max-height: 50px;
}

.service_text-container{
    margin: 8px 0 0 16px;
    display: flex;
    flex-direction: column;
}

.service_item-title{
    color:#243E63;
    font-weight: 900;
    font-size: 24px;
}

.service_item-description{
    color: #7C8BA1;
    font-weight: 500;
}

/*
Quality  Work
*/

#quality_work{
    padding: 80px 0;
}

.quality_section-title{
    font-size: 16px;
    color: #6415FF;
    font-weight: 500;
    margin: 0 0 16px;
}

.quality_descirption_title{
    font-size: 48px;
    font-weight: 800;
    color: #243E63;
    margin: 10px 0;
}

.quality_descirption{
    color: #7C8BA1;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0 25px;
}

.quality_container{
    display: flex;
    flex-direction: row;
}

.quality_work-section-text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding:  0 50px 50px 50px;
    text-align: left;
}

.quality_img-wrapper{
    width: 50%;
}

.quality_img{
    width: 100%;
}

.learn-more_button{
    width: 25%
}

/*
Steps
*/

#steps_section{
    padding: 80px 0;
}

.steps_section-container{
    display: flex;
    flex-direction: row;
}

.steps_img-wrapper{
    width: 50%;
}

.steps_img{
    width: 100%;
}

.step_text-main-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 20px 10px;
}

.steps_list-main-title{
    font-weight: 700;
    font-size: 16px;
    color: #6415FF;
    margin: 0 0 10px;
}

.step_desc-title{
    font-size: 48px;
    font-weight:800;
    color: #243E63;
    margin: 10px 0;
}

.step{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px 0;
}

.step_number{
    color: #7C8BA1;
    padding: 0 20px 0 0;
    font-size: 32px;
}

.step_text-container{
    display: flex;
    flex-direction: column;
}

.step_text-title{
    color: #243E63;
    font-size: 24px;
    font-weight: 700;
}

.step_text-description{
    color: #7C8BA1;
    font-size: 18px;
    max-width: 25rem;
}

/*
Value
color: rgba(155,44,44,var(--tw-text-opacity));
background-color: rgba(254,178,178,var(--tw-bg-opacity));
background-color: rgba(154,230,180,var(--tw-bg-opacity));
color: rgba(39,103,73,var(--tw-text-opacity));
*/

#values_section{
    padding: 80px 0;
}

.value_container{
    display: flex;
    flex-direction: row;
}

.value_text_container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 50px 50px;
}

.value_img-wrapper{
    width: 50%;
}

.value_img{
    width: 100%;
}

.value_main-title{
    font-size: 16px;
    font-weight: 700;
    color:#6415FF;
    margin: 0 0 10px;
}

.value_main-subitle{
    font-weight: 800;
    color: #243E63;
    font-size: 48px;
    margin: 10px 0;
}

.value_main-description{
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 10px;
}

.value_list{
    display: flex;
    flex-direction: row;
    margin: 15px 10px 25px 10px;
    align-items: center;
}

.value_item{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 15px;
}

.value_item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.value-item_logo-green{
    background-color: rgba(154,230,180);
    border-radius: 99999px;
}

.fa-dollar-sign{
    color:rgba(39,103,73);
    padding: 12px 16px;

}

.value-item_logo-red{
    background-color: rgba(254,178,178);
    border-radius: 99999px;
}

.fa-briefcase{
    color: rgba(155,44,44);
    padding: 14px 14px;
}

.value-item_title{
    color: #243E63;
    font-weight: 700;
    margin: 0 0 0 10px;
}

.value_item-description{
    font-size:18px ;
    color: #7C8BA1;
}


/*
Pricing
*/

#pricing{
    padding: 80px 0;
}


.pricing_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing_text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing_title{
    font-size: 16px;
    font-weight: 700;
    color: #6415FF;
}

.pricing_subtitle{
    font-size: 48px;
    color: #243E63;
    margin: 10px 0;
}

.pricing_description{
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0 10px;
    max-width: 35rem;
    text-align: center;
}

.price_item-list{
    display: flex;
    flex-direction: row;
    margin: 30px 40px;
}

.price_item{
    border: 1px gray solid;
    width: calc(100% / 3);
    margin: 16px;
    padding: 32px;
    border-radius: 25px;
}

.bg1{
    border-top:rgb(56, 178, 172) solid 10px;
}

.bg2{
    background-color: #6415FF;
    background-image: linear-gradient(135deg
    , rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
}

.bg3{
    border-top:rgb(245, 101, 101) solid 10px;
}

.price_item-top-wrapper, .price_item-middle-wrapper, .pricing-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 56px;
}

.price_item-middle-wrapper{
    border-top: 1px solid gray;
}

.pricing-button{
    border-top: 1px solid gray;
}

.price_item-title{
    font-weight: 700px;
    margin: 0 0 8px;
    font-size: 24px;
}

.price_item-cost{
    font-size: 48px;
    margin: 0 0 8px;
}

.price_item-monthly{
    color: #7C8BA1;
}

.price_item-desc-title{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.price_item-desc-list-item{
    margin: 10px;
    color: #718096;
}

.c2{
    color: #e2e8f0; ;
}

.pricing_btn{
    border-radius: 99999px;
    padding: 16px 64px;
    border: none;
    transition: all 300ms ease;
}

.btn1{
    background: linear-gradient(115deg
    , rgb(56, 178, 172), rgb(129, 230, 217));
    font-size: 14px;
    font-weight: 900;
}

.btn2{
    background-color: white;
}

.bg2_button{
    color: #6415FF;
    font-size: 14px;
    font-weight: 900;
}

.btn3{
    background: linear-gradient(115deg, 
    rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    font-size: 14px;
    font-weight: 900;
}

.pricing_btn:hover{
    transform: translateY(-1px) translateX(2px)
}

/*
Testimonials
*/

#testimonials{
    padding:80px 0;
}

.testimonial_container{
    display: flex;
    flex-direction: row;
}

.testimonial_img-wrapper{
    width: 50%;
}

.test_img{
    width: 100%;
}

.test_text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 24px;
}

.testimonial_title{
    font-size: 16px;
    font-weight: 700;
    color: #6415FF;
}

.test_title-description{
    font-size: 48px;
    color: #243E63;
    margin: 10px 0;
}

.test_description{
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0 10px;
}

.customers_list-container{
    background-color: rgba(0,0,0,0.1);  
    padding: 15px;
    border-radius: 50px;
}

.customer_testimonial{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.ratings{
    color: #fabf2a;
}

.customer_test-text{
    font-size: 24px;
    color: #243E63;
    margin: 10px 0;
}

.customer_text-comment{
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.customer_img{
    width:90px;
    height:90px;
    border-radius:9999px
}

.customer_img-wrapper{
    border-radius:9999px
}

.customer_profile{
    display: flex;
    flex-direction: row;
}

.customer_name-occupation{
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    justify-content: center;
}

.customer_name{
    color: #243E63;
    font-weight: 700;
    margin-bottom: 5px;
}

.customer_occupation{
    color: #718096;
    font-size: 14px;
    font-weight: 700;
}

/*
Testimonials
*/

#get_started{
    padding: 80px 0;
}

.get_started-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #371185;
    padding: 64px;
    border-radius: 500px;
}

.get_started-desc{
    max-width: 500px;
    color: white;
}

.get_started-btn{
    background-color: rgb(245, 101, 101);
    padding: 20px 30px;
    margin: 0 25px;
}

.get_started-btn:hover{
    background-color: rgb(241, 109, 109);
}

/*
Footer
*/

footer{
    padding: 80px 0;
}

.footer_container{
    background-color: #371185;
    padding: 56px;
    color: white;
    border-radius: 100px;
}

.footer_links{
    display: flex;
    flex-direction: row;
}

.link-list{
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_list-title{
    padding-bottom: 5px;
}

.footer_list{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 0 25px 0;
}

.footer_list-item{
    padding: 0 0 10px 0;
    font-size: 14px;
}

.footer_credentials{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-top: gray 1px solid;
    padding: 30px 80px 0;
}

.footer_logo-wrapper{
    display: flex;
    align-items: center;
}

.footer_logo-img-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_img{
    width: 30px;
    height: 30px;
}

.footer_logo-text{
    font-weight: 700;
    font-size: 18px;
    padding: 0 0 0 8px;
}

.icon{
    background-color: white;
    margin: 0 0 0 8px;
    padding: 10px;
    color: #371185;
    border-radius: 9999px;
}

.fa-facebook-f{
    padding: 10px 14px;
}

/* Large Phones */

@media (max-width:768px){

    html{
        scroll-behavior: smooth;
    }
    
    .hero_text-column{
        flex-direction: column;
    }   

    .hero_text{
        width: 100%;
        text-align: center;
    }

    .hero_title{
        font-size: 32px;
    }

    .hero_subtitle{
        font-size: 16px;
        text-align: center;
    }

    .customer_title{
        font-size: 16px;
    }

    .hero_trusted-customers{
        margin: 0;
        width: 100%;
    }

    .hero_trusted-customers-img{
        padding: 0;
        margin: 16px 0;
    }

    .nav_list_link{
        display: none;
    }

    .hero_img-wrapper{
        width: 100%;
    }

    .hero_img{
        padding: 10px 0;
    }

    .feature_description{
        font-size: 32px;
    }

    .feature_description-sub-description{
        font-size: 16px;
    }

    .service_list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service_item{
        width: 100%;
        padding: 20px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .service_text-container{
        align-items: center;
        margin: 8px 0;
    }

    .image_container{
       padding: 13px;
    }

    .service_item-title{
        font-size: 32px;
        text-align: center;
    }

    .service_item-description{
        font-size: 16px;
    }

    .service_item-description{
        justify-content: center;
        align-items: center;
    }

    .quality_container{
        flex-direction: column;
        align-items: center;
        
    }

    .quality_work-section-text-container{
        text-align: center;
        order: 2;
        width: 100%;
    }
    
    .quality_img-wrapper{
        order: 1;
        width: 100%;
    }

    .quality_work-section-text-container{
        padding: 0;
    }

    .quality_descirption_title{
        font-size: 30px;
    }

    .quality_descirption{
        font-size: 16px;
    }

    .learn-more_button{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .steps_section-container{
        flex-direction: column;
    }

    .steps_img-wrapper{
        width: 100%;
    }

    .step_text-main-container{
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 5px 0;
    }

    .step_desc-title{
        font-size: 30px;
    }

    .step{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .step_number{
        padding: 0 5px;
        font-size: 24px;
        text-align: center;
    }

    .step_text-description{
        font-size: 16px;
    }

    .value_container{
        flex-direction: column;
    }

    .value_text_container{
        width: 100%;
        text-align: center;
        padding: 0;
        order: 2;
    }

    .value_main-title{
        margin: 10px 0;
    }

    .value_main-subitle{
        font-size: 32px;
    }

    .value_main-description{
        font-size: 16px;
    }

    .value_list{
        margin: 5px 0;
        flex-direction: column;
    }

    .value_item{
        padding: 10px 16px;
        text-align: center;
        width: 100%;
        align-items: center;
    }

    .value-item_title{
        font-size: 20px;
    }

    .value_item-description{
        font-size: 16px;
    }

    .fa-dollar-sign{
        width: 44px;
        height: 44px;
        padding: 14px;
    }

    .learn-more_button{
        margin: 10px 0;
    }

    .value_img-wrapper{
        order: 1;
        width: 100%;
    }

    .value_img{
        width: 100%;
    }

    .pricing_subtitle{
        text-align: center;
    }

    .price_item-list{
        flex-direction: column;
        align-items: center;
    }

    .price_item {
        width: 100%;
    }

    .testimonial_container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .test_title-description{
        font-size: 32px;
    }

    .test_description{
        font-size: 16px;
        font-weight: 400;
    }
    
    .testimonial_img-wrapper{
        width: 100%;
    }

    .test_text-container{
        display: flex;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .customers_list-container{
        width: 100%;
    }

    .customer_profile{
        justify-content: center;
    }

    .get_started-container{
        border-radius: 50px;
        flex-direction: column;
    }

    .get_started-desc{
        text-align: center;
    }

    .get_started-btn-container{
        flex-direction: row;
    }

    .get_started-btn{
        width: 100%;
        margin: 12px 0;
    }

    .footer_container{
        border-radius: 50px;
        text-align: center;
        padding: 10px;
    }

    .footer_links{
        flex-wrap: wrap;
        margin: 20px 0 0 0;
    }

    .link-list{
        width: calc(100% / 3);
        justify-content: center;
        align-items: center;
    }

    .footer_credentials{
        flex-direction: column;
        padding: 5px;
    }

    .footer_copyright, .footer_icons, .footer_logo-img-wrapper {
        margin: 10px 0;
    }

    .btn_menu{
        display: block;
    }
}

@media (max-width:550px){

    body{
        padding: 24px;
    }

    .price_item-top-wrapper{
        padding: 10px;
    }

    .price_item{
        margin: 10px 5px;
        padding: 16px;
    }

}